body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(6, 6, 32);
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 5rem;
}
p span{
    color: greenyellow;
    text-decoration: solid green 2px;
}

spline-viewer{
    height: 100vh;
    width: 100%;
}
footer{
    background-color: rgb(13, 13, 110);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    font-size: 1.2rem;
}